html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
}

#root {
  display: block;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  margin: 0 ;
  color-scheme: light dark;
  color: rgb(72, 182, 246);
  background-color: #39a8df;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #dfc6f8;
  text-decoration: inherit;
}
a:hover {
  color: #ed1bb8;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #efd5c6;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #d69ff1;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #a1cff8;
    background-color: #ffffff;
  }
  a:hover {
    color: #90d1e7;
  }
  button {
    background-color: #f9f9f9;
  }
}
